openapi: 3.2.0
info:
  contact:
    email: contact@dsb.gov.au
    name: Data Standards Body
    url: https://dsb.gov.au/
  description: Specifications for Register endpoints made available to participants.
  title: CDR Register Register Data Recipient discovery API
  version: 1.36.0
servers:
- description: Production TLS
  url: https://api.cdr.gov.au
tags:
- description: Register Data Recipient discovery endpoints
  name: Register Data Recipient discovery
  x-shortName: Data Recipient discovery
paths:
  /cdr-register/v1/{industry}/data-recipients/brands/software-products/status:
    get:
      description: 'Endpoint used by participants to discover the statuses for software products from the CDR Register.


        Obsolete versions: [v1](includes/obsolete/get-software-product-statuses-v1.html), [v2](includes/obsolete/get-software-product-statuses-v2.html).'
      operationId: getSoftwareProductsStatuses
      parameters:
      - description: Filters the response to participants associated with an industry.
        explode: false
        in: path
        name: industry
        required: true
        schema:
          $ref: '#/components/schemas/IndustryEnumRecipients'
        style: simple
      - description: Version of the API endpoint requested by the client. Must be set to a positive integer. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If the value of [_x-min-v_](#request-headers) is equal to or higher than the value of [_x-v_](#request-headers) then the [_x-min-v_](#request-headers) header should be treated as absent. If all versions requested are not supported then the endpoint **MUST** respond with a `406 Not Acceptable`. See [HTTP Headers](#request-headers).
        explode: false
        in: header
        name: x-v
        required: true
        schema:
          type: string
        style: simple
      - description: Minimum version of the API endpoint requested by the client. Must be set to a positive integer if provided. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If all versions requested are not supported then the endpoint **MUST** respond with a `406 Not Acceptable`.
        explode: false
        in: header
        name: x-min-v
        required: false
        schema:
          type: string
        style: simple
      - description: Makes the request method conditional on a recipient cache or origin server not having any current representation of the target resource with an entity-tag that does not match any of those listed in the field-value.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
        x-cds-type: ASCIIString
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SoftwareProductsStatusList'
          description: Successful response
          headers:
            x-v:
              $ref: '#/components/headers/XV'
            Etag:
              $ref: '#/components/headers/Etag'
        '304':
          description: Not Modified - The current representation of the target resource matches with the entity-tag provided in the _If-None-Match_ request header
          headers:
            Etag:
              $ref: '#/components/headers/Etag'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorListV2'
          description: Missing Required Header / Invalid Version / Invalid Path Parameter
        '406':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorListV2'
          description: Unsupported Version
      summary: Get Software Products Statuses
      tags:
      - Register Data Recipient discovery
      x-version: '3'
  /cdr-register/v1/{industry}/data-recipients/status:
    get:
      description: 'Endpoint used by participants to discover the statuses for Data Recipients from the CDR Register.


        Obsolete versions: [v1](includes/obsolete/get-data-recipient-statuses-v1.html), [v2](includes/obsolete/get-data-recipient-statuses-v2.html).'
      operationId: getDataRecipientsStatuses
      parameters:
      - description: Filters the response to participants associated with an industry.
        explode: false
        in: path
        name: industry
        required: true
        schema:
          $ref: '#/components/schemas/IndustryEnumRecipients'
        style: simple
      - description: Version of the API endpoint requested by the client. Must be set to a positive integer. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If the value of [_x-min-v_](#request-headers) is equal to or higher than the value of [_x-v_](#request-headers) then the [_x-min-v_](#request-headers) header should be treated as absent. If all versions requested are not supported then the endpoint **MUST** respond with a `406 Not Acceptable`. See [HTTP Headers](#request-headers).
        explode: false
        in: header
        name: x-v
        required: true
        schema:
          type: string
        style: simple
      - description: Minimum version of the API endpoint requested by the client. Must be set to a positive integer if provided. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If all versions requested are not supported then the endpoint **MUST** respond with a `406 Not Acceptable`.
        explode: false
        in: header
        name: x-min-v
        required: false
        schema:
          type: string
        style: simple
      - description: Makes the request method conditional on a recipient cache or origin server not having any current representation of the target resource with an entity-tag that does not match any of those listed in the field-value.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
        x-cds-type: ASCIIString
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataRecipientsStatusList'
          description: Successful response
          headers:
            x-v:
              $ref: '#/components/headers/XV'
            Etag:
              $ref: '#/components/headers/Etag'
        '304':
          description: Not Modified - The current representation of the target resource matches with the entity-tag provided in the _If-None-Match_ request header
          headers:
            Etag:
              $ref: '#/components/headers/Etag'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorListV2'
          description: Missing Required Header / Invalid Version / Invalid Path Parameter
        '406':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorListV2'
          description: Unsupported Version
      summary: Get Data Recipients Statuses
      tags:
      - Register Data Recipient discovery
      x-version: '3'
  /cdr-register/v1/{industry}/data-recipients:
    get:
      description: 'Endpoint used by participants to discover data recipients and associated brands and software products, available in the CDR ecosystem.


        Obsolete versions: [v2](includes/obsolete/get-data-recipients-v2.html), [v3](includes/obsolete/get-data-recipients-v3.html).'
      operationId: getDataRecipients
      parameters:
      - description: Filters the response to participants associated with an industry.
        explode: false
        in: path
        name: industry
        required: true
        schema:
          $ref: '#/components/schemas/IndustryEnumRecipients'
        style: simple
      - description: Version of the API endpoint requested by the client. Must be set to a positive integer. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If the value of [_x-min-v_](#request-headers) is equal to or higher than the value of [_x-v_](#request-headers) then the [_x-min-v_](#request-headers) header should be treated as absent. If all versions requested are not supported then the endpoint **MUST** respond with a `406 Not Acceptable`. See [HTTP Headers](#request-headers).
        explode: false
        in: header
        name: x-v
        required: true
        schema:
          type: string
        style: simple
      - description: Minimum version of the API endpoint requested by the client. Must be set to a positive integer if provided. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If all versions requested are not supported then the endpoint **MUST** respond with a `406 Not Acceptable`.
        explode: false
        in: header
        name: x-min-v
        required: false
        schema:
          type: string
        style: simple
      - description: Makes the request method conditional on a recipient cache or origin server not having any current representation of the target resource with an entity-tag that does not match any of those listed in the field-value.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
        x-cds-type: ASCIIString
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseRegisterDataRecipientList'
          description: Successful response
          headers:
            x-v:
              $ref: '#/components/headers/XV'
            Etag:
              $ref: '#/components/headers/Etag'
        '304':
          description: Not Modified - The current representation of the target resource matches with the entity-tag provided in the _If-None-Match_ request header
          headers:
            Etag:
              $ref: '#/components/headers/Etag'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorListV2'
          description: Missing Required Header / Invalid Version / Invalid Path Parameter
        '406':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorListV2'
          description: Unsupported Version
      summary: Get Data Recipients
      tags:
      - Register Data Recipient discovery
      x-version: '4'
components:
  schemas:
    Links:
      properties:
        self:
          description: Fully qualified link to this API call.
          type: string
          x-cds-type: URIString
      required:
      - self
      type: object
    ErrorV2_meta:
      description: Additional data for customised error codes.
      properties:
        urn:
          description: The CDR error code URN which the application-specific error code extends. Mandatory if the error _code_ is an application-specific error rather than a standardised error code.
          type: string
      type: object
      x-conditional:
      - urn
    DataRecipientStatus:
      properties:
        legalEntityId:
          description: Unique id of the Data Recipient Legal Entity issued by the CDR Register.
          maxLength: 36
          type: string
        status:
          description: Data Recipient status in the CDR Register.
          enum:
          - ACTIVE
          - SUSPENDED
          - REVOKED
          - SURRENDERED
          type: string
      required:
      - legalEntityId
      - status
      type: object
    ResponseErrorListV2:
      properties:
        errors:
          description: List of errors.
          items:
            $ref: '#/components/schemas/ErrorV2'
          type: array
      required:
      - errors
      type: object
    ErrorV2:
      properties:
        code:
          description: The code of the error encountered. Where the error is specific to the respondent, an application-specific error code, expressed as a string value. If the error is application-specific, the URN code that the specific error extends must be provided in the _meta_ object. Otherwise, the value is the error code URN.
          type: string
        title:
          description: A short, human-readable summary of the problem that **MUST NOT** change from occurrence to occurrence of the problem represented by the error code.
          type: string
        detail:
          description: A human-readable explanation specific to this occurrence of the problem.
          type: string
        meta:
          $ref: '#/components/schemas/ErrorV2_meta'
      required:
      - code
      - detail
      - title
      type: object
      x-conditional:
      - meta
    IndustryEnumRecipients:
      enum:
      - all
      type: string
    SoftwareProductsStatusList:
      properties:
        data:
          description: Response data for the query.
          items:
            $ref: '#/components/schemas/SoftwareProductStatus'
          type: array
          uniqueItems: true
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
      required:
      - data
      - links
      - meta
      type: object
    ResponseRegisterDataRecipientList:
      description: Response containing a list of Data Recipients in the CDR Register.
      properties:
        data:
          description: Response data for the query.
          items:
            $ref: '#/components/schemas/RegisterDataRecipient'
          type: array
          uniqueItems: true
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
      required:
      - data
      - links
      - meta
      type: object
    DataRecipientBrandMetaData:
      description: Metadata related to Data Recipient Brand.
      properties:
        dataRecipientBrandId:
          description: Unique id of the Data Recipient brand issued by the CDR Register.
          maxLength: 36
          type: string
        brandName:
          description: Data Recipient Brand name.
          maxLength: 200
          type: string
        logoUri:
          description: Data Recipient Brand logo URI.
          maxLength: 1000
          type: string
          x-cds-type: URIString
        softwareProducts:
          items:
            $ref: '#/components/schemas/SoftwareProductMetaData'
          type: array
          uniqueItems: true
        status:
          description: Data Recipient Brand status in the CDR Register.
          enum:
          - ACTIVE
          - INACTIVE
          - REMOVED
          type: string
      required:
      - brandName
      - dataRecipientBrandId
      - logoUri
      - status
      type: object
    SoftwareProductMetaData:
      description: Data Recipient Brand Software Products.
      properties:
        softwareProductId:
          description: Unique id of the Data Recipient software product issued by the CDR Register.
          maxLength: 36
          type: string
        softwareProductName:
          description: Name of the software product.
          maxLength: 200
          type: string
        softwareProductDescription:
          description: Description of the software product.
          maxLength: 4000
          type: string
        logoUri:
          description: Software product logo URI.
          maxLength: 1000
          type: string
          x-cds-type: URIString
        status:
          description: Software Product status in the CDR Register.
          enum:
          - ACTIVE
          - INACTIVE
          - REMOVED
          type: string
      required:
      - logoUri
      - softwareProductDescription
      - softwareProductId
      - softwareProductName
      - status
      type: object
    RegisterDataRecipient:
      properties:
        legalEntityId:
          description: Unique id of the Data Recipient Legal Entity issued by the CDR Register.
          maxLength: 36
          type: string
        legalEntityName:
          description: Legal name of the Data Recipient.
          maxLength: 200
          type: string
        accreditationNumber:
          description: CDR Register issued human readable unique number given to Data Recipients upon accreditation.
          maxLength: 100
          type: string
        accreditationLevel:
          description: Accreditation level of the Data Recipient in the CDR Register.
          enum:
          - UNRESTRICTED
          - SPONSORED
          type: string
        logoUri:
          description: Legal Entity logo URI.
          maxLength: 1000
          type: string
          x-cds-type: URIString
        dataRecipientBrands:
          items:
            $ref: '#/components/schemas/DataRecipientBrandMetaData'
          type: array
          uniqueItems: true
        status:
          description: Data Recipient status in the CDR Register.
          enum:
          - ACTIVE
          - SUSPENDED
          - REVOKED
          - SURRENDERED
          type: string
        lastUpdated:
          description: The date/time that the Legal Entity was last updated in the CDR Register.
          type: string
          x-cds-type: DateTimeString
      required:
      - accreditationLevel
      - accreditationNumber
      - lastUpdated
      - legalEntityId
      - legalEntityName
      - logoUri
      - status
      type: object
    SoftwareProductStatus:
      properties:
        softwareProductId:
          description: Unique id of the software product issued by the CDR Register.
          maxLength: 36
          type: string
        status:
          description: Software product status in the CDR Register.
          enum:
          - ACTIVE
          - INACTIVE
          - REMOVED
          type: string
      required:
      - softwareProductId
      - status
      type: object
    Meta:
      type: object
    DataRecipientsStatusList:
      properties:
        data:
          description: Response data for the query.
          items:
            $ref: '#/components/schemas/DataRecipientStatus'
          type: array
          uniqueItems: true
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
      required:
      - data
      - links
      - meta
      type: object
  headers:
    Etag:
      description: Entity tag that uniquely represents the requested resource.
      explode: false
      schema:
        type: string
      style: simple
      x-cds-type: ASCIIString
    XV:
      description: The [payload version](#response-headers) that the endpoint has responded with.
      explode: false
      required: true
      schema:
        type: string
      style: simple
